<mat-card class="example-card-Header">
  <button class="material-icons dp48" (click)="refresh()">refresh</button>
  <button class="material-icons dp48" [matMenuTriggerFor]="report">report</button>
  <mat-menu #report="matMenu">
    <button mat-menu-item (click)="exportAs('pdf')">PDF</button>
    <button mat-menu-item (click)="exportAs('xlsx')">Excel</button>
    <button mat-menu-item (click)="exportAs('png')">PNG</button>
    <button mat-menu-item (click)="exportAs('csv')">CSV</button>
    <button mat-menu-item (click)="exportAs('txt')">Text</button>
    <button mat-menu-item (click)="exportAs('docx')">MS-Word</button>
    <button mat-menu-item (click)="exportAs('json')">Json</button>
    <button mat-menu-item (click)="exportAs('xml')">XML</button>
  </mat-menu>
  <mat-form-field class="example-full-width">
    <mat-select #ClassName placeholder="Class" [(ngModel)]="attendanceParam.ClassName" name="ClassName">
      <mat-option *ngFor="let classDetail of classDetails" [value]="classDetail.ClassName">
        {{ classDetail.ClassName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput #AttendanceDate [matDatepicker]="date" placeholder="Date" [(ngModel)]="attendanceParam.AttendanceDate"
      name="AttendanceDate">
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput #Name [(ngModel)]="attendanceParam.Name" name="Name" placeholder="Student Name">
  </mat-form-field>
  <button class="button-width" mat-raised-button color="primary" (click)="attendanceSearch()">Search</button>

</mat-card>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card-Body">
    <table id="studentTable" mat-table [dataSource]="dataSource" multiTemplateDataRows>

      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.Student.FirstName}} {{element.Student.LastName}}</td>
      </ng-container>

      <ng-container matColumnDef="AttendanceDate">
        <th mat-header-cell *matHeaderCellDef> Date</th>
        <td mat-cell *matCellDef="let element"> {{element.AttendanceDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="IsPresent">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {{element.IsPresent? "Present" :"Absent"}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 60]" showFirstLastButtons></mat-paginator>

  </mat-card>