
.half-width{
  width: 29%;
}

.full-width {
  width: 60%;
}

.shipping-card {
  min-width: 220px;
  margin: 5px auto;
  width: 98%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
