<form [formGroup]="subjectForm" novalidate (ngSubmit)="OnSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Subject Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Subject Name" formControlName="SubjectName">
              <mat-error *ngIf="subjectForm.controls['SubjectName'].hasError('required')">
                Subject is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <mat-checkbox formControlName="IsActive">Is Active</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>