<div>
  <input class="mat-form-field" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  &nbsp; <button mat-raised-button color="primary" type="Edit">Edit</button>
  &nbsp; <button mat-raised-button color="primary" type="Delete">Delete</button>
  &nbsp;
  &nbsp; <button mat-raised-button color="primary" type="Edit">Refresh</button>
  &nbsp; <button mat-raised-button color="primary" type="Delete">Report Export</button>
  &nbsp;&nbsp;
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="example-table-container  mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
       <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.FirstName +" "+element.LastName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="FatherName">
        <th mat-header-cell *matHeaderCellDef> Father Name </th>
        <td mat-cell *matCellDef="let element"> {{element.FatherName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="MotherName">
        <th mat-header-cell *matHeaderCellDef> Mother Name </th>
        <td mat-cell *matCellDef="let element"> {{element.MotherName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="STSCode">
        <th mat-header-cell *matHeaderCellDef> STS Code </th>
        <td mat-cell *matCellDef="let element"> {{element.STSCode}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="DateofBirth">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.DateofBirth | date}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef> City</th>
        <td mat-cell *matCellDef="let element"> {{element.City}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element"> {{element.State}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="PostalCode">
        <th mat-header-cell *matHeaderCellDef>Postal Code </th>
        <td mat-cell *matCellDef="let element"> {{element.PostalCode}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Nationality">
        <th mat-header-cell *matHeaderCellDef>Nationality </th>
        <td mat-cell *matCellDef="let element"> {{element.Nationality}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <mat-card>
              <div class="example-element-diagram">
                <div class="example-element-position"> {{element.Id}} </div>
              </div>
            </mat-card>
            <mat-card>
              <div class="example-element-description">
                <table style="width:100%">
                  <tr>
                    <th>Father Mobile Number</th>
                    <th>Mother Mobile Number</th>
                    <th>Address1</th>
                    <th>Address2</th>
                    <th>Class</th>
                  </tr>
                  <tr>
                    <td>{{element.FatherMobileNumber}}</td>
                    <td>{{element.MotherMobileNumber}}</td>
                    <td>{{element.Address1}}</td>
                    <td>{{element.Address2}}</td>
                    <td>{{element.ClassDetail?.ClassName}}</td>
                  </tr>
                </table>
              </div>
            </mat-card>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>