
<mat-card class="example-card">
  <div>  
    <button class="material-icons dp48" (click)="refresh()">refresh</button>
    <button class="material-icons dp48" [matMenuTriggerFor]="report">report</button>
    <mat-menu #report="matMenu">
      <button mat-menu-item (click)="exportAs('pdf')">PDF</button>
      <button mat-menu-item (click)="exportAs('xlsx')">Excel</button>
      <button mat-menu-item (click)="exportAs('png')">PNG</button>
      <button mat-menu-item (click)="exportAs('csv')">CSV</button>
      <button mat-menu-item (click)="exportAs('txt')">Text</button>
      <button mat-menu-item (click)="exportAs('docx')">MS-Word</button>
      <button mat-menu-item (click)="exportAs('json')">Json</button>
      <button mat-menu-item (click)="exportAs('xml')">XML</button>
    </mat-menu>
    <mat-form-field class="mat-form-field">
      <mat-select #ClassName placeholder="select Class" [(ngModel)]="studentmarksParams.ClassId" name="ClassId">
        <mat-option *ngFor="let classDetail of classDetails" [value]="classDetail.Id" >
          <div (click)="viewStudents(classDetail.Id)">
            {{ classDetail.ClassName }}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-form-field">
      <mat-select #StudentName placeholder="select Student" [(ngModel)]="studentmarksParams.StudentId" name="StudentId">
        <mat-option *ngFor="let student of students" [value]="student.Id">
          <div>
            {{ student.FirstName }}  {{ student.LastName }} 
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="button-width" mat-raised-button color="primary" (click)="StudentMarksSearch()">Search</button><br> 
    <button class="button-width" mat-raised-button color="primary" (click)="openDialog()">Add</button>
  </div>
</mat-card>


<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <table id="studentTable" mat-table [dataSource]="dataSource" multiTemplateDataRows>
      
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>

      <ng-container matColumnDef="Subject">
        <th mat-header-cell *matHeaderCellDef>Subject</th>
        <td mat-cell *matCellDef="let element"> {{element.Subject.SubjectName}} </td>
      </ng-container>

      <ng-container matColumnDef="ExamType">
        <th mat-header-cell *matHeaderCellDef>ExamType</th>
        <td mat-cell *matCellDef="let element"> {{element.ExamType}} </td>
      </ng-container>

      <ng-container matColumnDef="TotalMarks">
        <th mat-header-cell *matHeaderCellDef>TotalMarks</th>
        <td mat-cell *matCellDef="let element"> {{element.TotalMarks}} </td>
      </ng-container>

      <ng-container matColumnDef="MarksObtained">
        <th mat-header-cell *matHeaderCellDef>MarksObtained</th>
        <td mat-cell *matCellDef="let element"> {{element.MarksObtained}} </td>
      </ng-container>

      <ng-container matColumnDef="ResultStatus">
        <th mat-header-cell *matHeaderCellDef>ResultStatus</th>
        <td mat-cell *matCellDef="let element"> {{element.ResultStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="Grade">
        <th mat-header-cell *matHeaderCellDef>Grade</th>
        <td mat-cell *matCellDef="let element"> {{element.Grade}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 60]" showFirstLastButtons></mat-paginator>

  </mat-card>