<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="pointerCursor example-app-name" (click)="OnMenuClick()">SVS App</h1>

    <div class="example-fill-remaining-space" *ngIf="mobileQuery.matches ? false : true">

      <i class="material-icons dp48 pointerCursor" [matMenuTriggerFor]="profile">person </i>

      <mat-menu #profile="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="setting">Setting</button>
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
        <button mat-menu-item (click)="Logout()">Logout</button>
      </mat-menu>

      <mat-menu #setting="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="fish">Profile Setting</button>
        <button mat-menu-item [matMenuTriggerFor]="amphibians">Account Setting</button>
        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reports</button>

      </mat-menu>

      <mat-menu #invertebrates="matMenu">
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
      </mat-menu>

      <mat-menu #fish="matMenu">
        <button mat-menu-item>Baikal oilfish</button>
        <button mat-menu-item>Bala shark</button>
        <button mat-menu-item>Ballan wrasse</button>
        <button mat-menu-item>Bamboo shark</button>
        <button mat-menu-item>Banded killifish</button>
      </mat-menu>

      <mat-menu #amphibians="matMenu">
        <button mat-menu-item>Sonoran desert toad</button>
        <button mat-menu-item>Western toad</button>
        <button mat-menu-item>Arroyo toad</button>
        <button mat-menu-item>Yosemite toad</button>
      </mat-menu>

      <mat-menu #reptiles="matMenu">
        <button mat-menu-item>Banded Day Gecko</button>
        <button mat-menu-item>Banded Gila Monster</button>
        <button mat-menu-item>Black Tree Monitor</button>
        <button mat-menu-item>Blue Spiny Lizard</button>
        <button mat-menu-item disabled>Velociraptor</button>
      </mat-menu>

    </div>
    <div class="welcomeHeader novfont-size">
      <p *ngIf="mobileQuery.matches ? false : true"><b>Welcome : {{userClaim.FirstName +' '+ userClaim.LastName}}
        </b>&nbsp;&nbsp; <i>Email : {{ userClaim.Email }}&nbsp;&nbsp;
          Logged On :{{userClaim.LoggedOn}}</i></p>

    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="novColor" #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>

        <div *ngIf="userService.roleMatch(['Admin','SecurityAdmin','Teacher'])">
          <a mat-list-item [matMenuTriggerFor]="Student">Student</a>
          <mat-menu #Student="matMenu" yPosition="above">
            <a mat-menu-item routerLink="/student">Create</a>
            <a *ngIf="mobileQuery.matches ? false : true" mat-menu-item routerLink="/browseStudent">View</a>
            <a *ngIf="mobileQuery.matches" mat-menu-item routerLink="/listStudent">View</a>
            <a mat-menu-item routerLink="/studentAttendance">Attendance</a>
            <a mat-menu-item routerLink="/AttendanceList">Attendance List</a>
            <a mat-menu-item routerLink="/studentMarks">Student Marks</a>
          </mat-menu>
        </div>

        <div *ngIf="userService.roleMatch(['Admin','SecurityAdmin'])">
          <a mat-list-item [matMenuTriggerFor]="Teacher">Teacher</a>
          <mat-menu #Teacher="matMenu">
            <a mat-menu-item routerLink="/teacher">Create</a>
            <a *ngIf="mobileQuery.matches ? false : true" mat-menu-item routerLink="/browseTeacher">View</a>
            <a *ngIf="mobileQuery.matches" mat-menu-item routerLink="/listTeacher">View</a>
          </mat-menu>
        </div>

        <div *ngIf="userService.roleMatch(['Admin','SecurityAdmin','Teacher'])">
          <a mat-list-item [matMenuTriggerFor]="Subject">Subject</a>
          <mat-menu #Subject="matMenu">
            <a mat-menu-item routerLink="/subject">Create</a>
            <a mat-menu-item routerLink="/browseSubject">View</a>
          </mat-menu>
        </div>

        <div *ngIf="userService.roleMatch(['Admin','SecurityAdmin','Teacher'])">
          <a mat-list-item [matMenuTriggerFor]="Class">Class</a>
          <mat-menu #Class="matMenu">
            <a mat-menu-item routerLink="/class">Create</a>
            <a mat-menu-item routerLink="/browseClass">View</a>
          </mat-menu>
        </div>

        <div *ngIf="userService.roleMatch(['Admin','SecurityAdmin'])">
          <a mat-list-item [matMenuTriggerFor]="Fee">Fee</a>
          <mat-menu #Fee="matMenu">
            <a mat-menu-item routerLink="/fee">Create</a>
            <a *ngIf="mobileQuery.matches ? false : true" mat-menu-item routerLink="/browseFee">View</a>
            <a *ngIf="mobileQuery.matches" mat-menu-item routerLink="/listFee">View</a>
          </mat-menu>
        </div>

        <div *ngIf="userService.roleMatch(['Admin','SecurityAdmin'])">
          <a mat-list-item [matMenuTriggerFor]="TeacherSubject">Teacher Subject</a>
          <mat-menu #TeacherSubject="matMenu">
            <a mat-menu-item routerLink="/teacherSubjectDetail">Create</a>
            <a mat-menu-item routerLink="/browseTeacherSubjectDetail">View</a>
          </mat-menu>
        </div>

        <a mat-menu-item routerLink="/myFolder">My Folder</a>
        <a mat-menu-item routerLink="/myWork">My Work</a>
        <a mat-menu-item routerLink="/photo">Photo Library</a>
        <a mat-menu-item routerLink="/calendar">Calender</a>

        <a mat-menu-item (click)="Logout()">Logout</a>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="example-footer">
    <p class="novfont-size"> © Copyright © 2018 SVS Software, Inc. ALL RIGHTS RESERVED. </p>
    <span class="currentSystemDate novfont-size" id='ct'></span>
    <div class="remaining-space">
      <a class="material-icons dp48" routerLink="/photo">photo_library</a>
      <span class="novfont-size">Photo Library</span>
      <a class="material-icons dp48" routerLink="/calendar">date_range</a>
      <span class="novfont-size">Calendar</span>
    </div>
  </mat-toolbar>
</div>