.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }
  
  .shipping-card {
    min-width: 225px;
    margin: 20px auto;
    width: 90%;
  }
  
