<mat-card class="example-card">
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-select placeholder="Select Class">
              <mat-option *ngFor="let classDetail of classDetails" [value]="classDetail.ClassName">
                <div (click)="viewFees(classDetail.Id)">
                  {{ classDetail.ClassName }}
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>

      <input type="text" class="form-control" placeholder="Search By Name" style="width:300px" [(ngModel)]="searchTerm" />
    </div>
  </mat-card>
  <div *ngFor="let fee of filterdFee">
    <div (click)="onClick(fee.Id)" class="pointerCursor">
      <app-fee-detail-view [fee]="fee" #childComponent> </app-fee-detail-view>
    </div>
  </div>