<form [formGroup]="feeForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Fee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Student " formControlName="Student">
              <mat-option *ngFor="let student of students" [value]="student.FirstName">
                {{student.FirstName +" "+ student.LastName }} |
                {{student.ClassDetail.ClassName}} |
                {{student.FatherName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="feeForm.controls['Student'].hasError('required')">
              student is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="DueDate" placeholder="Due Date" formControlName="DueDate">
            <mat-datepicker-toggle matSuffix [for]="DueDate"></mat-datepicker-toggle>
            <mat-datepicker #DueDate></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="feeForm.controls['DueDate'].hasError('required')">
            Due Date is <strong>required</strong>
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="PaidDate" placeholder="Paid Date" formControlName="PaidDate">
            <mat-datepicker-toggle matSuffix [for]="PaidDate"></mat-datepicker-toggle>
            <mat-datepicker #PaidDate></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="feeForm.controls['PaidDate'].hasError('required')">
            Paid Date is <strong>required</strong>
          </mat-error>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input id="TotalAmount" matInput type="number" placeholder="Total Amount" formControlName="TotalAmount">
            <mat-error *ngIf="feeForm.controls['TotalAmount'].hasError('required')">
              Total Amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input id="PaidAmount" matInput type="number" placeholder="Paid Amount" formControlName="PaidAmount">
            <mat-error *ngIf="feeForm.controls['PaidAmount'].hasError('required')">
              Paid Amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <input id="BalanceAmount" matInput type="number" placeholder="Balance Amount" formControlName="BalanceAmount">
              </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

